name: Run Preprocessing Automatically

on: push

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r MLProject/requirements.txt
          pip install pandas scikit-learn
      - name: Run preprocessing script
        run: |
          python Preprocessing/automate_rahmidwintan.py
      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: dataset_preprocessed
          path: MLProject/Preprocessing/StudentsPerformance_preprocessing/dataset_preprocessed.csv
